<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <title>ความสำเร็จของการจำหน่ายทรัพย์สิน</title>
</head>
<body>
  <h2>ความสำเร็จของการจำหน่ายทรัพย์สิน</h2>
  <canvas id="success" width="400" height="400"></canvas>

  <script>

    const success_data = {
      labels: ["จำหน่ายสำเร็จ","รอจำหน่าย"],
      datasets: [{
        data: {{ success_values | tojson }},
        backgroundColor: [
              '#8BC34A', // เขียวอ่อน
        
        '#C9CBCF',  // เทาอ่อน

  
      ],
        hoverOffset: 10
      }]
    };


   

    const success_config = {
      type: 'pie',
      data: success_data,
      options: {
        plugins: {
          legend: {
            position: 'right'
          },
          tooltip: {
            callbacks: {
              label: function(context) {
                return `${context.label}: ${context.formattedValue}%`;
              }
            }
          }
        }
      }
    };

    new Chart(document.getElementById('success'), success_config);
  </script>
</body>
</html>
